# Dependencies
node_modules/
*/node_modules/

# Environment Variables & Secrets
.env
.env.local
.env.*.local
*.pem
*.key

# Build outputs
dist/
*/dist/
.temp/

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backoff.md
server/data/
